.hidden {
    display: none;
}

body {
    font-family: 'Exo 2', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-size: 16pt;
    font-weight: bold;
    margin: 10;
    padding: 20px;
    background-color: #6bb059;
    color: black;
}

.dark-mode {
    background-color: #36562d;
    color: rgb(255, 255, 255);
}

.light-mode {
    background-color: #6bb059;
    color: black;
}


h1 {
    text-transform: uppercase;
}

h1, p {
    text-align:center;
    margin-bottom: 10px
}

.intro {
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border-radius: 20px;
    box-shadow:  #313131 0px 10px 20px;
    background-color: #559A65;
}

form { 
    margin-top: 20px;
    text-align: center;
    background-color: #559A65;
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border-radius: 20px;
    box-shadow:  #313131 0px 10px 20px;
}

input {
    padding: 3px;
    width: auto;
}

#cuisine {
    width: auto;
    margin-top: 20px;
}

#dietDiv {
    margin-top: 20px;
}

#ingredient1 {
    width: 275px;
}

.center{
    text-align: center;
    list-style-position: inside;
}

li {
    margin: 10px 0;
}

li:hover {
    cursor: pointer;
}

div#buttons {
    border: none;
    padding: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(76, 72, 76);
    border-radius: 10px;
    max-width: 160px;
    margin: auto;
}

#buttonDiv {
    margin-top: 20px;
}

button {
    border-radius: 5px;
    border: none;
    box-shadow: inset 0 0 10px rgb(121, 121, 166);
    padding: 5px 10px;
    margin: 10px;
    font-size: 15px;
    text-align: center;
    cursor: pointer;
}

#recipe-finder {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}

#ingred-instruct {
    font-weight: bold;
    width:65%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    box-shadow:  #313131 0px 10px 20px;
    margin-top: 20px;
    padding: 20px;
    background-color: #559A65;
}

#recipe-output {
    margin-top: 20px;
    text-align: center;
    background-color: #559A65;
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border-radius: 20px;
    list-style-position: inside;
    box-shadow:  #313131 0px 10px 20px;
}

#recipe-output ul {
    padding-left: 0px;
}

#ingredients {
    border-bottom: 2px solid black;
}

@keyframes scale {
    from { transform: scale(0); opacity: 0; }
    to { transform: scale(1); opacity: 1; }
}

.message {
    animation: scale 0.5s ease-in-out;
}